@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--s)) oklch(var(--p)) !important;
}

::-webkit-scrollbar-track {
  background: oklch(var(--p));
}

::-webkit-scrollbar-thumb {
  background-color: oklch(var(--s));
}
